/*HEADER DES TABLEAUX*/

div.verticalSectionMargin{
    margin-bottom: 5%;
}
section div.sectionHeader h1.titleSection {
    justify-content: flex-start;
    width: 100%;
    margin: 5px 0;
    padding-left: 5px;
    color: #155263;
    font-size: 1em;
}

section div.sectionHeader h1.searchButtonSection {
    justify-content: flex-end;
    margin: 5px 0;
    padding-right: 5px;
    color: #155263;
}

.searchButtonSection img {
    height: 16px;
    width: auto;
    vertical-align: text-bottom;
    margin-left: 10px;
}
.colorSearchButton {
    filter: invert(24%) sepia(87%) saturate(390%) hue-rotate(146deg) brightness(93%) contrast(96%);
}

h1.searchButtonSection{
    transition: all 0.5s;
}

h1.searchButtonSection:hover{
    transform: translateY(-5px);
    cursor: pointer;
}



.buttonComponent{
    justify-content: flex-end;
    background-color: #155263;
    color: #EBEBEB;
    padding: 15px 15px;
    border-style: none;
    transition: all 0.5s;
    height: 3.5em;
}

.buttonComponent:hover{
    background-color: #3FA1BC;
    cursor: pointer;
}
.buttonComponent img{
    vertical-align: text-bottom;
    margin-right: 10px;
    filter: invert(98%) sepia(0%) saturate(271%) hue-rotate(73deg) brightness(117%) contrast(84%);
}

@media screen and (min-width: 450px) {

    .modal-content-Article {
        flex-grow: 1;
        background-color: #fefefe;
        margin: 15% 20% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 75%; /* Could be more or less, depending on screen size */
        height: 60%;
        border-radius: 5px;
        overflow:hidden;
    }
    .modal-deleteArticle {
        background-color: #fefefe;
        margin: 5% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 30%; /* Could be more or less, depending on screen size */
        height: 60%;
        border-radius: 5px;
    }
}

@media screen and (min-width: 700px) {

    .modal-content-Article {
        flex-grow: 1;
        background-color: #fefefe;
        margin: 15% 20% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 75%; /* Could be more or less, depending on screen size */
        height: 60%;
        border-radius: 5px;
        overflow:hidden;
    }
    .modal-deleteArticle {
        background-color: #fefefe;
        margin: 5% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 30%; /* Could be more or less, depending on screen size */
        height: 60%;
        border-radius: 5px;
    }
}


/*MODAL*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%; /* Full width */
    height: 100%; /* Full height */

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

@media screen and (min-width: 900px) {
    /* Modal Content/Box */
    .modal-content-Article {
        flex-grow: 1;
        background-color: #fefefe;
        margin: 15% 20% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%; /* Could be more or less, depending on screen size */
        height: 45%;
        border-radius: 5px;
        overflow: hidden;
    }
    .modal-deleteArticle {
        background-color: #fefefe;
        margin: 5% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 30%; /* Could be more or less, depending on screen size */
        height: 40%;
        border-radius: 5px;
    }
}

.modal-content-Article .headerForModalSearch{
    width: 100%;
}

.modal-content-Article h1{
    justify-content: flex-start;
    font-size: 2em;
    margin-bottom: 1.5rem;
    height: 2em;
    width: 100%;
}


.modal-content-Article form label{
    font-size: 1.2em;
    margin-right: 3%;
}

.modal-content-Article form input {
    margin-bottom: 3%;
}

#inputTitleArticle {
    width: 50%;
}

.divformModal{
    width: 100%;
}

/*MODAL COMMENT*/
.modal-comment {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 60%;
    border-radius: 5px;
}

.modal-comment h1{
    justify-content: flex-start;
    font-size: 2em;
    height: 2em;
    width: 100%;
}



.modal-comment form label{
    font-size: 1.2em;
    margin-right: 2%;
}

.textareaComment{
    width: 100%;
    height: 50%;
    border-radius: 5px;
    border: 1px solid #888;
}

/* The Close Button */
.modal-content-Article .close {
    justify-content: flex-end;
    color: black;
    height: 1em;
    font-size: 2.5em;
    font-weight: bold;
    transition: all 0.5s;
}

.modal-comment .headerForModalDesc{
    width: 100%;
}

.close:hover,
.close:focus {
    transform: scale(1.3);
    text-decoration: none;
    cursor: pointer;
}

.modal-comment .closeComment {
    justify-content: flex-end;
    color: black;
    height: 1em;
    font-size: 2.5em;
    font-weight: bold;
    transition: all 0.5s;
}
.formModalOneInput{
    height: 20%;
}
.closeComment:hover,
.closeComment:focus {
    transform: scale(1.3);
    text-decoration: none;
    cursor: pointer;
}

#searchModalButton{
    float: right;
    margin-bottom: 3%;
}

button #saveModalButton{
    margin-bottom: 3%;
    height: 2em;
}

#dateCreationArticle{
    padding-bottom: 0.8em;
    padding-top: 0.8em;
}

.titleOfPage{
    font-size: 2em;
    width: 1000%;
    height: 20%;
}

.formTitleHeadOfPage{
    justify-content: flex-start;
    width: 100%;
    left: 0;
    top: 0;
}

.label{
    font-size: 1em;
    margin-right: 2%;
}

.input{
    margin-bottom: 3%;
    width: 100%;
}


.inputOneModal{
    height: 10%;
    margin-bottom: 1%;
    width: 100%;
}

div.sectionHeader button{
    justify-content: flex-end;
    background-color: #155263;
    color: #EBEBEB;
    padding: 10px 10px;
    border-style: none;
    transition: all 0.5s;
}

div.sectionHeader button.buttonComponentThin{
    margin-right: 5%;

}
div.sectionFooter{
    margin-top: 5%;
}
div.sectionFooter button.buttonComponentThin{
    margin-right: 5%;
}

div.sectionHeader button:hover{
    background-color: #3FA1BC;
    cursor: pointer;
}

div.sectionFooter button{
    justify-content: flex-end;
    background-color: #155263;
    color: #EBEBEB;
    padding: 10px 10px;
    border-style: none;
    transition: all 0.5s;
}

div.sectionFooter button:hover{
    background-color: #3FA1BC;
    cursor: pointer;
}


.actionVerticalSection{
    margin-left: 4%;
    color: #155263;
    transition: all 0.5s;
}

.actionVerticalSection:hover, .actionVerticalSection:focus{
    cursor: pointer;
    transform: scale(1.05);
}

.actionVerticalSection img{
    margin-right: 2%;
    filter: invert(24%) sepia(87%) saturate(390%) hue-rotate(146deg) brightness(93%) contrast(96%);
}

.selectVerticalSection{
    margin-left: 4%;
    width: 50%;
}

.trumbowygTextarea{
    height: 100%;
}

.modalOneInput{
    margin-bottom: 3%;
    width: 100%;
}

div .listDate{
    align-content: flex-start;
    margin: 0;
    max-width: 12%;
}
.listActions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.listActions img{

    transition: all 0.5s;
}

.listActions img:hover{
    transform: translateY(-10px);
}

.marginBottomtMultipleSection{
    margin-bottom: 4%; !important;
}

.buttonComponent-alert{
    justify-content: flex-end;
    background-color: #ff381f;
    color: #EBEBEB;
    padding: 15px 15px;
    border-style: none;
    transition: all 0.5s;
    height: 3.5em;
}

.buttonComponent-alert:hover{
    background-color: #de5342;
    cursor: pointer;
}



/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.deleteConfirmation{
    width: 100%;
    justify-content: center;
    align-content: center;
}
.deleteConfirmation p{
    font-size: 1.5em;
}


.footerDeleteArticleModal{
    width: 100%;
    justify-content: center;
    align-content: center;
}
.success-checkmark {
    width: 100%;
    height: 10%;
    justify-content: center;
    align-content: center;
    margin: 10% 10% 10% 10%;
}

.check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #ff381f;
}
.check-icon img{
    filter: invert(31%) sepia(92%) saturate(3786%) hue-rotate(350deg) brightness(107%) contrast(101%);
    display: flex;
   justify-content: center;
    align-content: center;
    margin: auto;
}



.icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
}





@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}