body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #F1F5F9;
  justify-content: center;
}

body img.backgroundImg {
  position: fixed;
  height: 70vh;
  top: -20px;
  left: -20px;
  opacity: 0.1;
}

@media screen and (min-width: 800px) {
  body {
    padding: 25px;
  }
}

body h1 {
  color: #155263;
  font-size: 18px;
}

body main {
  z-index: 5;
  width: 100%;
  max-width: 800px;
  background-color: white;
  padding: 20px 40px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 800px) {
  body main {
    border-radius: 10px;
  }
}

body main header {
  display: flex;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

body main header h1 {
  flex: 1;
  max-height: 30px;
}

body main header h1 img {
  height: 40px;
  width: auto;
  vertical-align: text-bottom;
}

body main header .iconRightHeader {
  height: 40px;
  width: auto;
  opacity: 0.15;
  transition: opacity;
  transition-duration: 0.5s;
}

body main header .iconRightHeader:hover {
  opacity: 0.5;
}

body main section {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

@media screen and (min-width: 450px) {
  body main section {
    flex-direction: row;
  }
}

body main section.stepContainer {
  max-width: 450px;
  margin: auto;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}

body main section.stepContainer .stepElement {
  flex: 1;
}

body main section.stepContainer .stepElement:last-child {
  flex: none;
}

body main section.stepContainer .stepElement .stepStatusAndPath {
  display: flex;
}

body main section.stepContainer .stepElement .stepStatusAndPath .stepStatus {
  padding: 12px;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: lightgrey;
  border: 3px solid white;
  box-shadow: 0 0 0 1px lightgrey;
}

body main section.stepContainer .stepElement .stepStatusAndPath .stepStatus img {
  width: 100%;
  height: auto;
}

body main section.stepContainer .stepElement .stepStatusAndPath .stepPath {
  flex: 1;
  height: 2px;
  background-color: lightgrey;
  margin: auto;
}

body main section.stepContainer .stepElement.selected .stepStatus,
body main section.stepContainer .stepElement.passed .stepStatus {
  background-color: #99e1e5;
  box-shadow: 0 0 0 1px #99e1e5;
}

body main section.stepContainer .stepElement.passed .stepPath {
  background-color: #99e1e5;
}

body main section.stepContainer .stepElement p {
  margin-top: 5px;
  text-align: center;
  width: 50px;
}

body main section .imgContainer {
  max-width: 100%;
  min-height: 150px;
  overflow: hidden;
  padding: 10px;
  flex: 3;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body main section .textContainer {
  padding-bottom: 10px;
  flex: 4;
}

@media screen and (min-width: 450px) {
  body main section .textContainer {
    padding-left: 20px;
  }
}

body main section .textContainer h1 {
  margin-bottom: 15px;
}

body main section .textContainer p {
  margin-top: 10px;
}

body main section form {
  width: 100%;
}

body main section form .formElement {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

@media screen and (min-width: 900px) {
  body main section form .formElement {
    justify-content: flex-end;
  }
}

body main section form .formElement label {
  min-width: 150px;
  max-width: 150px;
  flex: 1;
  margin: auto 0;
  margin-right: 10px;
}

@media screen and (min-width: 900px) {
  body main section form .formElement label {
    text-align: end;
  }
}

body main section form .formElement label.requiredLabel::after {
  content: " *";
  color: red;
}

body main section form .formElement input,
body main section form .formElement select {
  min-width: 250px;
  max-width: 400px;
  flex: 3;
  padding: 8px 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

body main section form .formSubmitElement {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
}

body main section form .formSubmitElement button {
  padding: 10px 15px;
  font-weight: bolder;
  border-radius: 10px;
  border: 0;
  transition: background-color, color;
  transition-duration: 0.5s;
  margin-right: 5px;
}

body main section form .formSubmitElement button.primary {
  color: #155263;
  background-color: #99e1e5;
}

body main section form .formSubmitElement button.primary:hover {
  outline: 0;
  color: white;
  background-color: #155263;
}

body main section form .formSubmitElement button.primary:focus {
  outline: 0;
}

body main section form .formSubmitElement button.secondary {
  color: white;
  background-color: #155263;
}

body main section form .formSubmitElement button.secondary:hover {
  outline: 0;
  color: #155263;
  background-color: #99e1e5;
}

body main section form .formSubmitElement button.secondary:focus {
  outline: 0;
}

body main section form .formSubmitElement button.cancel {
  background-color: lightgrey;
}

body main section form .formSubmitElement button.cancel:hover {
  outline: 0;
  background-color: darkgrey;
}

body main section form .formSubmitElement button.cancel:focus {
  outline: 0;
}

body main section form .formSubmitElement button:last-child {
  margin-right: 0;
}

body main footer {
  padding-top: 20px;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

@media screen and (min-width: 900px) {
  .d-lg-block {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-flex {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-none {
    display: none;
  }
}

img.icon {
  height: 16px;
  width: auto;
  margin-right: 12px;
  vertical-align: text-top;
}

img.iconWhite {
  filter: brightness(0) invert(100%);
}

img.iconBlack {
  filter: brightness(0);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  scrollbar-color: #155263 lightgrey;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 0.3em;
  max-height: 0.3em;
}

*::-webkit-scrollbar-track {
  background-color: lightgrey;
}

*::-webkit-scrollbar-thumb {
  background-color: #155263;
  outline: 1px solid transparent;
  border-radius: 5px;
}

.preload * {
  transition: none !important;
}

body {
  font-family: "Roboto", Verdana, "Geneva", Tahoma, sans-serif;
}

