@charset "UTF-8";

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

@media screen and (min-width: 900px) {
  .d-lg-block {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-inline-block {
    display: inline-block;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-flex {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width: 900px) {
  .d-lg-none {
    display: none;
  }
}

.limit-height-25 {
  max-height: 25px;
  overflow: auto;
}

.limit-height-50 {
  max-height: 50px;
  overflow: auto;
}

.limit-height-75 {
  max-height: 75px;
  overflow: auto;
}

.limit-height-100 {
  max-height: 100px;
  overflow: auto;
}

.limit-height-125 {
  max-height: 125px;
  overflow: auto;
}

.limit-height-150 {
  max-height: 150px;
  overflow: auto;
}

.limit-height-175 {
  max-height: 175px;
  overflow: auto;
}

.limit-height-200 {
  max-height: 200px;
  overflow: auto;
}

.limit-height-225 {
  max-height: 225px;
  overflow: auto;
}

.limit-height-250 {
  max-height: 250px;
  overflow: auto;
}

.limit-height-275 {
  max-height: 275px;
  overflow: auto;
}

.limit-height-300 {
  max-height: 300px;
  overflow: auto;
}

.limit-height-325 {
  max-height: 325px;
  overflow: auto;
}

.limit-height-350 {
  max-height: 350px;
  overflow: auto;
}

.limit-height-375 {
  max-height: 375px;
  overflow: auto;
}

.limit-height-400 {
  max-height: 400px;
  overflow: auto;
}

.limit-height-425 {
  max-height: 425px;
  overflow: auto;
}

.limit-height-450 {
  max-height: 450px;
  overflow: auto;
}

.limit-height-475 {
  max-height: 475px;
  overflow: auto;
}

.limit-height-500 {
  max-height: 500px;
  overflow: auto;
}

.flex-weight-1 {
  flex: 1;
}

.flex-weight-2 {
  flex: 2;
}

.flex-weight-3 {
  flex: 3;
}

.flex-weight-4 {
  flex: 4;
}

.flex-weight-5 {
  flex: 5;
}

.flex-weight-6 {
  flex: 6;
}

body {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  body {
    flex-direction: row;
  }
}

body header {
  z-index: 25;
  display: flex;
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0;
  text-align: start;
  padding: 5px;
  background-color: #155263;
  color: white;
}

body header .back-mainPage-header-websiteName {
  padding: 0 15px;
  margin: auto;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body header .back-mainPage-header-logo {
  margin: 1px 0 0 1px;
  height: 100%;
  width: auto;
  filter: invert(100%);
}

body header .back-mainPage-header-actionContainer {
  flex: 1;
  text-align: end;
}

body header .fullButton {
  height: 20px;
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
}

body header .fullButton img {
  height: 100%;
  width: auto;
}

body #back-mainPage-menu {
  z-index: 24;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  max-width: 175px;
  height: 100vh;
  transform: translateX(0);
  padding-top: 30px;
  overflow-y: auto;
  background-color: #155263;
  transition: transform;
  transition-duration: 0.5s;
}

body #back-mainPage-menu ul {
  list-style: none;
  flex-basis: auto;
  flex: 2;
}

body #back-mainPage-menu ul:nth-last-child(2) {
  flex: 3;
}

body #back-mainPage-menu ul:last-child {
  flex: none;
}

body #back-mainPage-menu ul li {
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px 5px 5px;
  padding: 8px;
  opacity: 0.6;
  transition: opacity, background-color, max-height, margin, padding;
  transition-duration: 0.5s;
}

body #back-mainPage-menu ul li a {
  display: flex;
  height: 100%;
  text-decoration: none;
  color: white;
}

body #back-mainPage-menu ul li a p {
  flex: 1;
}

body #back-mainPage-menu ul li.selected {
  margin: 0 0 5px 0;
  border-radius: 0;
  padding-bottom: 5px;
  padding-left: 13px;
  color: #155263;
  opacity: 1;
  background-color: #F4F4F4;
  border-bottom: 3px solid #99e1e5;
}

body #back-mainPage-menu ul li.selected a {
  color: #155263;
}

body #back-mainPage-menu ul li.selected a img {
  filter: invert(0);
}

body #back-mainPage-menu ul li.selected:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

body #back-mainPage-menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

body #back-mainPage-menuResponsive {
  z-index: 24;
  position: fixed;
  width: 100%;
  max-height: 100vh;
  overflow-x: auto;
  top: 0;
  padding-top: 30px;
  background-color: #155263;
  transition: max-height;
  transition-duration: 0.5s;
}

body #back-mainPage-menuResponsive.hidden {
  max-height: 0;
  overflow: hidden;
}

body #back-mainPage-menuResponsive ul li {
  padding: 10px;
  opacity: 0.6;
}

body #back-mainPage-menuResponsive ul li a {
  display: flex;
  height: 100%;
  text-decoration: none;
  color: white;
}

body #back-mainPage-menuResponsive ul li a p {
  flex: 1;
}

body #back-mainPage-menuResponsive ul li.selected {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

body #back-mainPage-menuResponsive ul:first-child {
  margin-top: 0;
}

body main {
  flex: 1;
  height: 100vh;
  padding-top: 30px;
  background-color: #F4F4F4;
  overflow-y: auto;
}

body main.fullContent {
  border: 1px solid red;
}

body main #back-manPage-gridContent {
  padding: 15px 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

@media screen and (min-width: 450px) {
  body main #back-manPage-gridContent {
    padding: 5px;
  }
}

@media screen and (min-width: 900px) {
  body main #back-manPage-gridContent {
    padding: 15px;
  }
}

section {
  padding: 0 10px;
}

section:nth-child(2n) {
  background-color: #99e1e52f;
}

@media screen and (min-width: 450px) {
  section {
    padding: 0;
    background-color: transparent !important;
  }
}

/*section h1.titleSection {
  margin: 5px 0;
  padding-left: 5px;
  width: 100%;
  color: #155263;
}*/

section h1.titleSection img {
  height: 16px;
  width: auto;
  vertical-align: text-bottom;
  margin-right: 10px;
}

section .d-flex {
  justify-content: space-between;
}

section article {
  margin: 5px;
}

section article h1 {
  margin: 0;
  padding-left: 0;
}

section.multipleSectionContainer {
  display: flex;
  flex-wrap: wrap;
}

section.multipleSectionContainer h1.titleSection {
  padding-left: 0;
  margin-bottom: 10px;
  width: 100%;
}

section.multipleSectionContainer div.multipleSection {
  flex: 1;
}

section.multipleSectionContainer div.multipleSection:first-child {
  margin: 5px;
}

@media screen and (min-width: 450px) {
  section.multipleSectionContainer div.multipleSection {
    margin-bottom: 1em;
  }

  section.multipleSectionContainer div.multipleSection:first-child {
    margin-top: 0;
  }
}

img.icon {
  height: 16px;
  width: auto;
  margin-right: 12px;
  vertical-align: text-top;
}

img.iconWhite {
  filter: brightness(0) invert(100%);
}

img.iconBlack {
  filter: brightness(0);
}

.col-1 {
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .col-1 {
    margin: 1%;
    max-width: 48%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 900px) {
  .col-1 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

.col-2 {
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .col-2 {
    margin: 1%;
    max-width: 48%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 900px) {
  .col-2 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

.col-3 {
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .col-3 {
    margin: 1%;
    max-width: 48%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 900px) {
  .col-3 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

.col-4 {
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .col-4 {
    margin: 1%;
    max-width: 48%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 900px) {
  .col-4 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

.col-5 {
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .col-5 {
    margin: 1%;
    max-width: 48%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 900px) {
  .col-5 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

.col-6 {
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .col-6 {
    margin: 1%;
    max-width: 48%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 900px) {
  .col-6 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

.col-7 {
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .col-7 {
    margin: 1%;
    max-width: 98%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 900px) {
  .col-7 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

.col-8 {
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .col-8 {
    margin: 1%;
    max-width: 98%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 900px) {
  .col-8 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

.col-9 {
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .col-9 {
    margin: 1%;
    max-width: 98%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 900px) {
  .col-9 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

.col-10 {
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .col-10 {
    margin: 1%;
    max-width: 98%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 900px) {
  .col-10 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

.col-11 {
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .col-11 {
    margin: 1%;
    max-width: 98%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 900px) {
  .col-11 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
}

.col-12 {
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .col-12 {
    margin: 1%;
    max-width: 98%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
  }
  /*MODAL*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content-Article {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 15px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 70%;
    border-radius: 5px;
  }

  .modal-content-Article h1{
    font-size: 1em;
    margin-bottom: 1.5rem;
  }

  .modal-content-Article form{
    margin-left: 4%;
  }

  .modal-content-Article form label{
    font-size: 1.2em;
    margin-right: 2%;
  }

  .modal-content-Article form input {
    margin-bottom: 3%;
  }

  #inputTitleArticle {
    width: 50%;
  }

  .modal-content-Article form select{
    margin-bottom: 3%;
    margin-right: 4%;
  }

  /*MODAL COMMENT*/
  .modal-comment {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 50%;
    border-radius: 5px;
  }

  .modal-comment h1{
    justify-content: flex-start;
    font-size: 2em;
    margin-bottom: 1.5rem;
    height: 2em;
    width: 100%;
  }

  .modal-comment form{
    margin-left: 4%;
    width: 100%;
    height: 100%;
  }

  .modal-comment form label{
    font-size: 1.2em;
    margin-right: 2%;
  }

  .textareaComment{
    width: 100%;
    height: 100%;
    align-content: center;
    border-radius: 5px;
    border: 1px solid #888;
  }

  /* The Close Button */
  .modal-comment .close {
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    transition: all 0.5s;
  }

  .close:hover,
  .close:focus {
    transform: scale(1.3);
    text-decoration: none;
    cursor: pointer;
  }

  .modal-comment .closeComment {
    justify-content: flex-end;
    color: black;
    height: 1em;
    font-size: 2.5em;
    font-weight: bold;
    transition: all 0.5s;
  }

  .closeComment:hover,
  .closeComment:focus {
    transform: scale(1.3);
    text-decoration: none;
    cursor: pointer;
  }

  #searchModalButton{
    float: right;
    margin-bottom: 3%;
  }

  .modal-content form button#saveModalButton{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3%;
  }
}

@media screen and (min-width: 900px) {
  .col-12 {
    max-width: none;
    width: 100%;
    margin: 0;
  }
  /*MODAL*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }



  /* Modal Content/Box */
  .modal-content-Article {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 42%;
    border-radius: 5px;
  }

  .modal-content-Article h1{
    font-size: 2em;
    margin-bottom: 1.5rem;
  }

  .modal-content-Article form{
    margin-left: 4%;
  }

  .modal-content-Article form label{
    font-size: 1.2em;
    margin-right: 2%;
  }

  .modal-content-Article form input {
    margin-bottom: 3%;
  }

  #inputTitleArticle {
    width: 50%;
  }

  .modal-content-Article form select{
    margin-bottom: 3%;
    margin-right: 4%;
  }

  /*MODAL COMMENT*/
  .modal-comment {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 50%;
    border-radius: 5px;
  }

  .modal-comment h1{
    justify-content: flex-start;
    font-size: 2em;
    margin-bottom: 1.5rem;
    height: 2em;
    width: 100%;
  }

  .modal-comment form{
    margin-left: 4%;
    width: 100%;
    height: 100%;
  }

  .modal-comment form label{
    font-size: 1.2em;
    margin-right: 2%;
  }

  .textareaComment{
    width: 40%;
    height: 50%;
    align-content: center;
    border-radius: 5px;
    border: 1px solid #888;
  }

  /* The Close Button */
  .modal-comment .close {
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    transition: all 0.5s;
  }

  .close:hover,
  .close:focus {
    transform: scale(1.3);
    text-decoration: none;
    cursor: pointer;
  }

  .modal-comment .closeComment {
    justify-content: flex-end;
    color: black;
    height: 1em;
    font-size: 2.5em;
    font-weight: bold;
    transition: all 0.5s;
  }

  .closeComment:hover,
  .closeComment:focus {
    transform: scale(1.3);
    text-decoration: none;
    cursor: pointer;
  }

  #searchModalButton{
    float: right;
    margin-bottom: 3%;
  }

  .modal-content form #saveModalButton{
    justify-content: flex-end;
  }
}

.status-color-important {
  color: darkred;
  font-weight: 600;
}

.status-color-moyen {
  color: #ffbf35;
  font-weight: 500;
}

.status-color-normal {
  color: #39b400;
  font-weight: 400;
}

ul.listItemComplete {
  margin-top: 10px;
}

ul.listItemComplete li {
  list-style: none;
  display: flex;
  cursor: pointer;
}

ul.listItemComplete li.legend {
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: white;
  background-color: #155263;
}

ul.listItemComplete li.legend p {
  padding: 3px 10px;
}

ul.listItemComplete li.legend p:last-child {
  min-width: 30px;
}

ul.listItemComplete li.listItem {
  padding: 10px 5px;
}

ul.listItemComplete li.listItem p {
  padding: 3px;
}

ul.listItemComplete li.listItem:nth-child(2n) {
  background-color: #99e1e52f;
}

ul.listItemBasic {
  margin-top: 10px;
}

ul.listItemBasic li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

ul.listItemBasic li.legend {
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: white;
  background-color: #155263;
}

ul.listItemBasic li.legend p {
  padding: 3px 10px;
  text-align: center;
}

ul.listItemBasic li.legend p:last-child {
  min-width: 55px;
}

ul.listItemBasic li.listItem {
  padding: 10px 5px;
}

ul.listItemBasic li.listItem div {
  flex: 2;
  margin: auto;
  padding: 0 5px;
}

ul.listItemBasic li.listItem div p {
  padding: 3px 0;
}

ul.listItemBasic li.listItem .listItem-cpt {
  margin: auto;
}

ul.listItemBasic li.listItem:nth-child(2n) {
  background-color: #99e1e52f;
}

ul.listItemBasic li.listItem .listItem-cpt {
  min-width: 55px;
  text-align: center;
}

.statisticsBasicContainer .statisticsBasic {
  min-height: 100px;
  min-width: 170px;
  flex: 5;
  padding: 10px 15px;
  border-radius: 3px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.statisticsBasicContainer .statisticsBasic h1 {
  font-weight: unset;
  margin-bottom: 5px;
}

.statisticsBasicContainer .statisticsBasic div {
  margin: 5px 0;
}

.statisticsBasicContainer .statisticsBasic div p {
  margin-top: 5px;
}

.statisticsBasicContainer .statisticsBasic h2.numberStat,
.statisticsBasicContainer .statisticsBasic h2.numberStat span {
  font-weight: unset;
  font-size: 25px;
}

.statisticsBasicContainer .statisticsBasic .numberStat-positive {
  color: #39b400;
}

.statisticsBasicContainer .statisticsBasic .numberStat-positive::after {
  content: " \2197";
  font-weight: 700;
}

.statisticsBasicContainer .statisticsBasic .numberStat-negative {
  color: darkred;
}

.statisticsBasicContainer .statisticsBasic .numberStat-negative::after {
  content: " \2198";
  font-weight: 700;
}

.quickAccesContainer {
  list-style: none;
  display: flex;
  overflow-y: auto;
  margin: 10px 0 5px 0;
  cursor: pointer;
}

.quickAccesContainer li {
  position: relative;
  display: flex;
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
  border-radius: 100%;
  background-color: #99e1e5;
  margin-right: 10px;
  transition: background-color;
  transition-duration: 0.5s;
}

.quickAccesContainer li p.quickAccesTitle {
  z-index: 2;
  margin: auto;
  color: #155263;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color;
  transition-duration: 0.5s;
}

.quickAccesContainer li img {
  margin: 25%;
  width: 50%;
  height: auto;
  opacity: 0.5;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  filter: brightness(0) invert(100%);
}

.quickAccesContainer li:hover {
  background-color: #155263;
}

.quickAccesContainer li:hover p.quickAccesTitle {
  color: white;
}

.callToActionContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: flex-end !important;
}

.callToActionContainer .callToAction-withIcon {
  margin: 5px;
  border: 0;
  border-radius: 25px;
  background-color: #99e1e5;
  transition: background-color;
  transition-duration: 0.5s;
  cursor: pointer;
}

.callToActionContainer .callToAction-withIcon img {
  width: 50px;
  height: auto;
  padding: 10px;
  transition: filter;
  transition-duration: 0.5s;
}

.callToActionContainer .callToAction-withIcon:hover {
  background-color: #155263;
}

.callToActionContainer .callToAction-withIcon:hover img {
  filter: brightness(0) invert(100%);
}

button:focus {
  outline: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  scrollbar-color: #155263 lightgrey;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 0.3em;
  max-height: 0.3em;
}

*::-webkit-scrollbar-track {
  background-color: lightgrey;
}

*::-webkit-scrollbar-thumb {
  background-color: #155263;
  outline: 1px solid transparent;
  border-radius: 5px;
}

body {
  font-family: "Roboto", Verdana, "Geneva", Tahoma, sans-serif;
}

div .listDate{
  align-content: flex-start;
  margin: 0;
  max-width: 12%;
}
.listActions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.listActions img{

  transition: all 0.5s;
}

.listActions img:hover{
  transform: translateY(-10px);
}

/*HEADER DES TABLEAUX*/

div.verticalSectionMargin{
  margin-bottom: 5%;
}
section div.sectionHeader h1.titleSection {
  justify-content: flex-start;
  width: 100%;
  margin: 5px 0;
  padding-left: 5px;
  color: #155263;
  font-size: 1em;
}

section div.sectionHeader h1.searchButtonSection {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
  padding-right: 5px;
  color: #155263;
}

.searchButtonSection img {
  height: 16px;
  width: auto;
  vertical-align: text-bottom;
  margin-left: 10px;
}
.colorSearchButton {
  filter: invert(24%) sepia(87%) saturate(390%) hue-rotate(146deg) brightness(93%) contrast(96%);
}

h1.searchButtonSection{
  transition: all 0.5s;
}

h1.searchButtonSection:hover{
  transform: translateY(-5px);
  cursor: pointer;
}


/*STATISTIQUES UTILISEES EN DEHORS DE LA PAGE DE DASHBORD*/
.statsBasic .statisticsBasic {
  flex: 5;
  padding: 10px 15px;
}

.statsBasic .statisticsBasic h1 {
  font-weight: unset;
  margin-bottom: 5px;
}

.statsBasic .statisticsBasic div {
  margin: 5px 0;
}

.statsBasic .statisticsBasic div p {
  margin-top: 5px;
}

.statsBasic .statisticsBasic h2.numberStat,
.statsBasic .statisticsBasic h2.numberStat span {
  font-weight: unset;
  font-size: 20px;
}

.statsBasic .statisticsBasic .numberStat-positive {
  color: #39b400;
}

.statsBasic .statisticsBasic .numberStat-positive::after {
  content: " \2197";
  font-weight: 700;
}

.statsBasic .statisticsBasic .numberStat-negative {
  color: darkred;
}

.statsBasic .statisticsBasic .numberStat-negative::after {
  content: " \2198";
  font-weight: 700;
}

.buttonComponent{
  justify-content: flex-end;
  background-color: #155263;
  color: #EBEBEB;
  padding: 15px 15px;
  border-style: none;
  transition: all 0.5s;
  height: 3.5em;
}

.buttonComponent:hover{
  background-color: #3FA1BC;
  cursor: pointer;
}
.buttonComponent img{
  vertical-align: text-bottom;
  margin-right: 10px;
  filter: invert(98%) sepia(0%) saturate(271%) hue-rotate(73deg) brightness(117%) contrast(84%);
}


/*MODAL*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-Article {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 50%;
  border-radius: 5px;
}

.modal-content-Article .headerForModalSearch{
  width: 100%;
}

.modal-content-Article h1{
  justify-content: flex-start;
  font-size: 2em;
  margin-bottom: 1.5rem;
  height: 2em;
  width: 100%;
}

.modal-content-Article form{
  margin-left: 4%;
}

.modal-content-Article form label{
  font-size: 1.2em;
  margin-right: 2%;
}

.modal-content-Article form input {
  margin-bottom: 3%;
}

#inputTitleArticle {
  width: 50%;
}

.modal-content-Article form select{
  margin-bottom: 3%;
  margin-right: 4%;
}

/*MODAL COMMENT*/
.modal-comment {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 50%;
  border-radius: 5px;
}

.modal-comment h1{
  justify-content: flex-start;
  font-size: 2em;
  margin-bottom: 1.5rem;
  height: 2em;
  width: 100%;
}

.modal-comment form{
  justify-content: flex-start;
  width: 100%;
}

.modal-comment form label{
  font-size: 1.2em;
  margin-right: 2%;
}

.textareaComment{
  width: 100%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #888;
}

/* The Close Button */
.modal-content-Article .close {
  justify-content: flex-end;
  color: black;
  height: 1em;
  font-size: 2.5em;
  font-weight: bold;
  transition: all 0.5s;
}

 .modal-comment .headerForModalDesc{
   width: 100%;
 }

.close:hover,
.close:focus {
  transform: scale(1.3);
  text-decoration: none;
  cursor: pointer;
}

.modal-comment .closeComment {
  justify-content: flex-end;
  color: black;
  height: 1em;
  font-size: 2.5em;
  font-weight: bold;
  transition: all 0.5s;
}

.closeComment:hover,
.closeComment:focus {
  transform: scale(1.3);
  text-decoration: none;
  cursor: pointer;
}

#searchModalButton{
  float: right;
  margin-bottom: 3%;
}

.buttonComponent #saveModalButton{
  float: right;
  margin-bottom: 3%;
  height: 2em;
}

#dateCreationArticle{
  padding-bottom: 0.8em;
  padding-top: 0.8em;
}

.titleOfPage{
  font-size: 2em;
  width: 1000%;
  height: 20%;
}

.formTitleHeadOfPage{
  justify-content: flex-start;
  width: 100%;
  left: 0;
  top: 0;
}

.label{
  font-size: 1em;
  margin-right: 2%;
}

.input{
  margin-bottom: 3%;
  width: 100%;
}

div.sectionHeader button{
  justify-content: flex-end;
  background-color: #155263;
  color: #EBEBEB;
  padding: 10px 10px;
  border-style: none;
  transition: all 0.5s;
}

div.sectionHeader button.buttonComponentThin{
  margin-right: 5%;

}
div.sectionFooter{
  margin-top: 5%;
}
div.sectionFooter button.buttonComponentThin{
  margin-right: 5%;
}

div.sectionHeader button:hover{
  background-color: #3FA1BC;
  cursor: pointer;
}

div.sectionFooter button{
  justify-content: flex-end;
  background-color: #155263;
  color: #EBEBEB;
  padding: 10px 10px;
  border-style: none;
  transition: all 0.5s;
}

div.sectionFooter button:hover{
  background-color: #3FA1BC;
  cursor: pointer;
}


.actionVerticalSection{
  margin-left: 4%;
  color: #155263;
  transition: all 0.5s;
}

.actionVerticalSection:hover, .actionVerticalSection:focus{
  cursor: pointer;
  transform: scale(1.05);
}

.actionVerticalSection img{
  margin-right: 2%;
  filter: invert(24%) sepia(87%) saturate(390%) hue-rotate(146deg) brightness(93%) contrast(96%);
}

.selectVerticalSection{
  margin-left: 4%;
  width: 50%;
}

.trumbowygTextarea{
  height: 100%;
}

.floatRight{
  float: right;
}